@import '../../../styles/styles';

.article_creation{
    display: flex;
    flex-direction:column;
    align-items:center;
    padding: 2px;
    min-width: 600px;
    width: 100%;

    form{
        h3{
            font-size:x-large;
            font-weight: bold;
            text-align: center;
            margin-bottom: 55px;
        }
        .input_rectangle {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            box-sizing: border-box;
            
            input, select {
                width: 100%;
                padding: 10px;
                border: 2px solid #7763C5;
                border-radius: 4px;
                font-size: 16px; /* Defines the font size for the text */
                font-family: Arial, sans-serif; /* Specifies the font style */
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                color: #808080;
                box-sizing: border-box;
            }
            .textarea {
                width: 100%; /* Ensures the textarea takes the full width of its container */
                height: 250px; /* Sets a fixed height for the textarea */
                padding: 10px; /* Adds inner spacing for better readability */
                font-size: 16px; /* Defines the font size for the text */
                font-family: Arial, sans-serif; /* Specifies the font style */

                border: 2px solid #7763C5; /* Adds a subtle border for structure */
                border-radius: 15px; /* Rounds the corners for a softer look */
                resize: none; /* Disables manual resizing of the textarea */
                color: #808080;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for depth */
                box-sizing: border-box;

            }
        }
        
        button {
            padding: 12px 40px;
            border: none;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            margin-left: 30%;
          
            
            &.violetButton {
                
                background-color: #7763C5;
                color: white;
                &:hover {
                    background-color: #6653a5;
                }
            }
        }
    }
}