.header-bloc {
  background-color: rgba(255, 255, 255, 0.059);
  border: 1px solid black;
  font-size: large;
  align-items: center;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  
}

.header_logo {

  flex-shrink: 0;
}

.headerPart {
  margin-left: 20px;
}

.logo_icon {
  display: flex; 
  align-items: center;
 
  
}


.ulHeader {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}


.ulHeader a {
  color: black; 
  text-decoration: none;
}


.ulHeader a:hover {
  color: #6a0dad; 
}


.ulHeader a.routerLinkActive {
  color: black !important; 
}

.label_red {
  color: #B22222;
  border: none;
  background: transparent;
  font-weight: bold;
  text-decoration: none;
}


@media (max-width: 768px) {
  .header-bloc {
    font-size: 14px; 
    justify-content: flex-start; 
  }

  .ulHeader {
    justify-content: flex-start; 
    align-items: center; 
  }

  .headerPart {
    margin-left: 10px; 
  }

  
  .header_logo {
    max-width: 80%; 
  }
}
