<div class="header-bloc" *ngIf="!shouldHideHeader()">

    <a class="logo_icon" routerLink="" routerLinkActive="active-item">
        <img src="./assets/pictures/small_logo.png" alt="MDD Logo" class="header_logo">
    </a>

    <ul class="ulHeader "   *ngIf="!shouldHideNavItems()">
        <li class="headerPart"><button class="label_red" (click)="logOut()">Se déconnecter</button> </li>
        <li class="headerPart "><a routerLink="/article/all" routerLinkActive="active-item">Articles</a></li>
        <li class="headerPart "><a routerLink="/themes" routerLinkActive="active-item">Thèmes</a></li>
        <li class="headerPart ">

            <a class="Logo_icon" routerLink="/profile" routerLinkActive="active-item">
                <img src="./assets/pictures/User_icon.png" alt="Ellipse" class="user">
            </a>

        </li>
    </ul>

</div>

<a class="back" (click)="back()"  *ngIf="!shouldHideBackButton()" >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="west"></mat-icon>
</a>