<mat-card >
    <mat-card-header>
      <mat-card-title>
        <span class="theme-title">{{ theme.theme }}</span>
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p class="theme-description">{{ theme.description }}</p>
    </mat-card-content>
  
    <mat-card-footer>
      <button class="violetButton subscribe" (click)="changeSubscriptionStatus(theme.id)">
        {{ theme.isSubscribed ? 'Se désabonner' : "S'abonner" }}
      </button>
    </mat-card-footer>
  </mat-card>
  