<mat-card >

    <mat-card-header>
      <mat-card-title>
        <span class="theme-title">{{ theme.theme }}</span>
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <p class="theme-description">{{ theme.description }}</p>
    </mat-card-content>
  
    <mat-card-footer>

      <button [ngClass]="{ 'violetButton subscribe1': !theme.isSubscribed, 'grayButton subscribe2': theme.isSubscribed }"
      (click)="changeSubscriptionStatus(theme.id)" >
      {{ isUserSubscribedPage ? 'Se désabonner' : (theme.isSubscribed ? 'Déjà abonné' : 'S\'abonner') }}
      </button>

    </mat-card-footer>
    
  </mat-card>
  