
mat-card{
    margin: 2px;
    border: none;
    border-radius: 8px;
    background-color: rgb(236, 236, 236);
    .titre{
        text-align: left;
        left: 0;
        margin-left: 0;
        padding-left: 0;
    }
    mat-card-subtitle{
        .date{
            margin-right: 5%;
        }
        .auteur{
            margin-left: 5%;
        }
        .theme{
            width: max-content;
        }
    }
    mat-card-content{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}