<div class="form_style register-bloc">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username"> Nom d’utilisateur</label>
            <input id="username" formControlName="username" type="text" />
        </div>
        
        <div class="form-group">
            <label for="email"> Adresse e-mail</label>
            <input id="email" formControlName="email" type="email" />
        </div>

        <div class="form-group">
            <label for="password"> Mot de passe</label>
            <input id="password" formControlName="password" type="password" />
        </div>
    
        <button  class="violetButton" type="submit"> S’inscrire</button>
    </form>
</div>
  
