.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    /* Adjusts the height to be more flexible on smaller screens */
    height: auto;  
    padding: 20px; /* Adds padding on smaller screens */
  }
}

.buttons_container {
  width: 30%; /* Initial width on larger screens */
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    width: 80%; /* Adjusts the container to take up more space on smaller screens */
  }

  button {
    /* Ensures the buttons are aligned properly in smaller screens */
    &:first {
      float: left;
    }
    &:nth-of-type(2) {
      float: right;
    }
    
    /* Media query for smaller screens */
    @media (max-width: 768px) {
      width: 100%; /* Makes the buttons take up full width on smaller screens */
      margin-bottom: 10px; /* Adds space between buttons */
      float: none; /* Removes float for better stacking on mobile */
    }
  }
}

.responsive-img {
  width: 100%;
  height: auto; /* Maintient le ratio d'aspect */
  max-width: none; /* Retirer la limite de largeur maximale */
  
  /* Optionnel : ajouter une limite de taille pour les très grands écrans */
  @media (min-width: 1024px) {
    max-width: 800px; /* Ajuste selon la taille que tu veux sur les grands écrans */
  }
}
